<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
	<title>sBNC Webinterface at <?php echo $_SERVER['SERVER_NAME']; ?></title>
	
	<meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="login">
		<header>
			<h1>s<span>BNC W</span>ebinterface</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="user_index.php"><?php echo $LANG['menu_main']; ?></a></li>
				<li><a href="user_settings.php"><?php echo $LANG['menu_settings']; ?></a></li>
				<li><a href="user_log.php"><?php echo $LANG['menu_log']; ?></a></li>
				<li><a href="logout.php"><?php echo $LANG['logout']; ?></a></li>
			</ul>
		</nav>
		
		<section id="content">

