<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
	<title>sBNC Webinterface<?php foreach ($breadcrumb as $item) { ?> &rsaquo; <?php echo $item; } ?></title>
	
	<meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="content">
		<header>
			<h1>s<span>BNC</span> Webinterface</h1>
			<h2>
<?php
	foreach ($breadcrumb as $item) {
?>
				<span>&rsaquo;</span> <?php echo $item; ?>
<?php
	}
?>
			</h2>
		</header>
		
		<nav>
			<ul>
				<li><a href="user_index.php"><?php echo $LANG['menu_index']; ?></a></li>
				<li><a href="user_settings.php"><?php echo $LANG['menu_settings']; ?></a></li>
				<li><a href="user_log.php"><?php echo $LANG['menu_log']; ?></a></li>
				<li><a href="logout.php"><?php echo $LANG['menu_logout']; ?></a></li>
<!-- IF is_admin() -->
				<li><a href="admin.php"><?php echo $LANG['menu_admin']; ?></a></li>
<!-- ENDIF -->
			</ul>
			<br>
		</nav>

