<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
	<title>shroudBNC Webinterface at <?php echo $_SERVER['SERVER_NAME']; ?></title>
	
	<meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="content">
		<header>
			<h1>shroud<span>BNC</span> Webinterface</h1>
		</header>
		
		<form action="login.php" method="post">
			<fieldset>
				<legend>Login</legend>
			
				<label for="user">Username</label>
				<input type="text" name="user" id="user" value="" required placeholder="shroudBNC Username" class="input"><br>
			
				<label for="pass">Password</label>
				<input type="password" name="pass" id="pass" value="" required placeholder="shroudBNC Password" class="input"><br>
							
				<input type="submit" value="Login" id="submit" class="submit"><br />
			</fieldset>
		</form>
		
		<h3>Demo Login</h3>
		
		<dl>
			<dt>Username</dt>
			<dd>demo</dd>
			
			<dt>Password</dt>
			<dd>foobar</dd>
		</dl>
		
		<footer>
			<p><a href="http://github.com/Kunsi/sBNC-Webinterface">shroudBNC Webinterface</a> by <a href="http://felix-kunsmann.de/">Felix 'Kunsi' Kunsmann</a></p>
		</footer>
	</div>
</body>
</html>
